* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmIKhHRfu6ODQQ6tYAM10TK8KxBlKxZA_-cQ&usqp=CAU%27");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1000px);
  backdrop-filter: brightness(10%);
  color: white;
  width: 100%;
  min-height: 100vh;
}
